{% extends "BiblioEntityBundle:Default:layout.html.twig" %}

{% block pret_contenu %}

<h3>Liste des prêts hors délai</h3>
{% for pret in prets %}
 - Le pret du livre " {{pret.livre.titre}} " emprunté par  {{pret.lecteur.nom}} {{pret.lecteur.prenom}} est hors délai </br>
 {% else %}
      <li>Aucun prêt hors délai</li>
{% endfor %}

</br>
 <a class="btn btn-primary btn-lg" href="{{ path('biblio_pret_homepage') }}"> Retour Accueil</a>


{% endblock %}