{% extends "BiblioPretBundle:Pret:layout.html.twig" %}

{% block pret_contenu %}

<h3>Recherche par titre de livre :</h3>

{% include "BiblioPretBundle:Pret:formulaire.html.twig" %}

</br>
 <a class="btn btn-primary btn-lg" href="{{ path('biblio_pret_homepage') }}"> Retour Accueil</a>


{% endblock %}