{% extends "BiblioEntityBundle:Default:layout.html.twig" %}

{% block content %}
    <h1>Lecteur edit</h1>

    {{ form(edit_form) }}
    {{ form(delete_form) }}
<br>
<a class="btn btn-primary btn-lg" href="{{ path('biblio_inscription_homepage') }}"> Retour Accueil</a>
{% endblock %}
