{% extends "BiblioEntityBundle:Default:layout.html.twig" %}

{% block content %}
    <div class="page-title"><h1>Ajout d'un nouveau lecteur</h1></div>
    {% include 'BiblioInscriptionBundle:Default:notification.html.twig' %}
    <div class="form">
    {{ form(form) }}
    </div>
<br>
   <a class="btn btn-default" role="button" href="{{ path('biblio_main_homepage') }}"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Retour Accueil</a>
        <a class="btn btn-default" role="button" href="{{ path('biblio_inscription_list',  { 'type': 'lecteur' }) }}"> <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Retour à la gestion des lecteurs</a>
{% endblock %}
