{% extends "BiblioEntityBundle:Default:layout.html.twig" %}

{% block content %}
    <div class="page-title"><h1>MENU</h1></div>
<ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('biblio_inscription_list') }}"> Accèder à la gestion des lecteurs inscrits</a></li>
        <li><a href="{{ path('biblio_inscription_list',  { 'type': 'faculte' }) }}"> Accèder à la gestion des facultés</a></li>
</ul>

{% endblock %}
